{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% form_theme form 'security/_collection.html.twig' %}
{% block body %}
	<section class="default">
		<div class="default-title">
			<h2>Mon compte</h2>
		</div>
		{% if user.profilePicture %}
			<figure class="default-img">
				<img src="{{ asset('uploads/profilePictures/' ~ user.profilePicture) }}">
			</figure>
		{% endif %}
		<div class="default-form">
			{{ form_start(form) }}
			{{ form_row(form.username) }}
			{{ form_row(form.email) }}
			{{ form_row(form.profile_picture) }}
			<a href="{{ path('update_password') }}">Modifier mon mot de passe ?</a>
			<input type="submit" class="btn" value="Valider">
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
