{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
	<section class="about">
		<div class="about-title">
			<h1>Welcome</h1>
		</div>
		{% if not app.user %}
			<div class="about-content">
				<p>Les figures de snowboard sont des sauts ou des manœuvres exécutées sur des snowboards pour le plaisir ou lors de compétitions. Le plus souvent, ces manœuvres sont effectuées sur des obstacles tels que des sauts, des halfpipes , des quarterpipes , des hanches, des mains courantes, des funbox ou des rebords, ou à la surface de la neige. Beaucoup ont leurs origines dans des sports de glisse plus anciens comme le skateboard et le surf.</p>
				<p>« J'ai un bon pop sur les frontside nose-roll nollies parce que je les fais à partir d’un carve ». Si vous ne comprenez rien à cette phrase, ce site est fait pour vous.</p>
				<p>Ce site a été créé pour faire découvrir et partager les figures de snowboard. Inscrivez-vous pour devenir membre de la communauté et collaborer à l'apprentissage des figures de snowboard.</p>
				<div class="about-content-btn">
					<button class="btn" type="button">
						<a href="{{ path('register') }}">S'inscrire</a>
					</button>
					<p class="about-content-p">Déjà inscrit ?</p>
					<button class="btn" type="button">
						<a href="{{ path('login') }}">Se connecter</a>
					</button>
				</div>
			</div>
		{% else %}
			<div class="about-content">
				<p>Vous êtes membre de la communauté Snowtricks.</p>
				<p>Partagez vos connaissances et collaborer à l'apprentissage des figures de snowboard.</p>
				<p>. Vous pouvez ajouter des nouvelles figures.</p>
				<button class="btn" type="button">
					<a href="{{ path('trick_new') }}">Ajouter</a>
				</button>
				<p>Vous pouvez également modifier les tricks de votre choix en ajoutant ou en supprimmant le descriptif, des photos ou des vidéos.</p>
				<p class="about-content-p">Se déconnecter ?</p>
				<button class="btn" type="button">
					<a href="{{ path('logout') }}">Se déconnecter</a>
				</button>
			</div>
		{% endif %}
	</section>
	<section class="tricks" id="tricks">
		<div class="tricks-title">
			<h1>Tricks</h1>
		</div>
		<div class="tricks-content">
			{% for trick in tricks %}
			{% set show_url = path('trick_show', {'slug':trick.slug}) %}
			{% set edit_url = path('trick_edit', {'slug':trick.slug}) %}
			{% set delete_url = path('trick_delete', {'slug':trick.slug}) %}
				<div class="tricks-content-card">
					<div class="tricks-content-card-img">
						{% if trick.pictures is defined %}
							{% for picture in trick.pictures %}
								{% if loop.first %}
									<figure class="tricks-content-card-img-figure">
										<a href="{{ show_url }}"><img src="{{ asset('uploads/pictures/' ~ picture.path) }}"></a>
									</figure>
								{% endif %}
							{% else %}
								<figure class="tricks-content-card-img-figure">
									<a href="{{ show_url }}"><img src="{{ asset('uploads/pictures/default-picture.png') }}"></a>
								</figure>
							{% endfor %}
						{% endif %}
					</div>	
					<div class="tricks-content-card-btn">
                    	<button class="btn"><a href="{{ show_url }}">{{ trick.name }}</a></button> 
						{% if app.user %}
                    	<div class="tricks-content-card-btn-icon">
                        	<a href="{{ edit_url }}"><i class="fas fa-pencil-alt"></i></a>
                        	<a href="{{ delete_url }}" class="fas fa-trash-alt" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette figure ?');"></a>
						</div>
						{% endif %}
                    </div>
				</div>
			{% endfor %}
		</div>
		<div class="tricks-content-more">
			<input type="checkbox" hidden class="tricks-content-more-state" id="read-more">
			{% for trick in tricks_more %}
			{% set show_url = path('trick_show', {'slug':trick.slug}) %}
			{% set edit_url = path('trick_edit', {'slug':trick.slug}) %}
				<div class="tricks-content-more-target tricks-content-card">
					<div class="tricks-content-card-img">
							{% if trick.pictures is defined %}
							{% for picture in trick.pictures %}
								{% if loop.first %}
									<figure class="tricks-content-card-img-figure">
										<a href="{{ show_url }}"><img src="{{ asset('uploads/pictures/' ~ picture.path) }}"></a>
									</figure>
								{% endif %}
							{% else %}
								<figure class="tricks-content-card-img-figure">
									<a href="{{ show_url }}"><img src="{{ asset('uploads/pictures/default-picture.png') }}"></a>
								</figure>
							{% endfor %}
						{% endif %}
					</div>
					<div class="tricks-content-card-btn">
                    	<button class="btn"><a href="{{ show_url }}">{{ trick.name }}</a></button> 
                    	<div class="tricks-content-card-btn-icon">
                        	<a href="{{ edit_url }}"><i class="fas fa-pencil-alt"></i></a>
                        	<form method="POST" action="#">
                            	<input type="hidden" name="_method" value="delete">
                            	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id)}}">
                           		<input class="fas fa-trash-alt" type="submit" value="&#xf2ed;" onclick="return confirm('Etes-vous sûr ?');">
                        	</form>
						</div>
                    </div>
				</div>
			{% endfor %}
			<label for="read-more" class="tricks-content-more-trigger_closed btn">Voir plus</label>
			<label for="read-more" class="tricks-content-more-trigger_opened btn">Voir Moins</label>
		</div>
		<div class="tricks-arrow">
			<a href="{{ path('home') }}#tricks"><img src="{{ asset('build/images/arrow-up.png') }}" class="arrow"></a>
		</div>
	</section>
{% endblock %}
