{% extends 'base.html.twig' %}

{% block title %}Nouvelle Trick
{% endblock %}
{% form_theme form _self %}
{% block body %}
	<section class="add-trick">
		<div class="add-trick-title">
			<h1>Ajouter une nouvelle figure</h1>
		</div>

		{{ form_start(form, { 'attr': {'class': 'add-trick-form'} }) }}
		
			{{ form_row(form.name) }}
		
			{{ form_row(form.description) }}
		
		
			{{ form_row(form.category) }}
			
		
	
			
				
				{{ form_row(form.pictures) }}
				
			
		
		
		
			
				{{ form_row(form.videos) }}
				
			

		<button type="submit" class="btn btn-form">Valider</button>
		{{ form_end(form) }}

	</section>
{% endblock %}
{% block form_row %}
<div class="add-trick-form-row">
{{ form_label(form) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
</div>
{% endblock %}
{% block _trick_pictures_row %}
<h3>Ajouter des photos</h3>

{{ form_errors(form) }}
{{ form_widget(form) }}

<button type="button" class="btn-add-picture" id="add-picture">Ajouter une image</button>
{% endblock %}
{% block _trick_pictures_entry_widget %}
<div class="add-trick-form-entry">
{{ form_label(form.path)}}
{{ form_widget(form.path)}}
</div>
<div class="add-trick-form-entry">
{{ form_label(form.caption)}}
{{ form_widget(form.caption)}}
</div>
{% endblock %}
{% block _trick_videos_row %}
<h3>Ajouter des vidéos</h3>

{{ form_errors(form) }}
{{ form_widget(form) }}

<button type="button" class="btn-add-picture" id="add-video">Ajouter une vidéo</button>
{% endblock %}
{% block _trick_videos_entry_widget %}
<div class="add-trick-form-entry">
{{ form_label(form.name)}}
{{ form_widget(form.name)}}
</div>
<div class="add-trick-form-entry">
{{ form_label(form.url)}}
{{ form_widget(form.url)}}
</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('js/add') }}
{% endblock %}
